@page "/reports"
@inherits OwningComponentBase
@using ADefHelpDeskApp.Controllers
@using ADefHelpDeskApp.Models
@using ADefHelpDeskApp.Classes
@using AdefHelpDeskBase.Models
@using AdefHelpDeskBase.Models.DataContext
@inject DashboardController _DashboardController
@inject IConfiguration _configuration
@inject IJSRuntime JSRuntime
<div class="row">
    <div class="col-xl-3 col-lg-3 py-2">
        <RadzenPanel AllowCollapse="false" Style="width:100%">
            <HeaderTemplate>
                <h2>Tickets <RadzenIcon Icon="confirmation_number" /></h2>
            </HeaderTemplate>
            <ChildContent>
                <h1>@DashboardValues.tickets.ToString()</h1>
            </ChildContent>
        </RadzenPanel>
    </div>
    <div class="col-xl-3 col-lg-3 py-2">
        <RadzenPanel AllowCollapse="false" Style="width:100%">
            <HeaderTemplate>
                <h2>Users <RadzenIcon Icon="groups" /></h2>
            </HeaderTemplate>
            <ChildContent>
                <h1>@DashboardValues.users.ToString()</h1>
            </ChildContent>
        </RadzenPanel>
    </div>
    <div class="col-xl-3 col-lg-3 py-2">
        <RadzenPanel AllowCollapse="false" Style="width:100%">
            <HeaderTemplate>
                <h2>Tags <RadzenIcon Icon="account_tree" /></h2>
            </HeaderTemplate>
            <ChildContent>
                <h1>@DashboardValues.tags.ToString()</h1>
            </ChildContent>
        </RadzenPanel>
    </div>
    <div class="col-xl-3 col-lg-3 py-2">
        <RadzenPanel AllowCollapse="false" Style="width:100%">
            <HeaderTemplate>
                <h2>Roles <RadzenIcon Icon="admin_panel_settings" /></h2>
            </HeaderTemplate>
            <ChildContent>
                <h1>@DashboardValues.roles.ToString()</h1>
            </ChildContent>
        </RadzenPanel>
    </div>

</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 py-2">
        <RadzenPanel AllowCollapse="false" Style="width:100%;margin-bottom: 20px">
            <HeaderTemplate>
                <h2>Ticket Status</h2>
            </HeaderTemplate>
            <ChildContent>
                <RadzenChart>
                    <RadzenPieSeries TItem="DTOTicketStatus" Data="@DashboardValues.colTicketStatus" CategoryProperty="name" ValueProperty="ticketCount" />
                </RadzenChart>
            </ChildContent>
        </RadzenPanel>
    </div>
    <div class="col-xl-6 col-lg-6 py-2">
        <RadzenPanel AllowCollapse="false" Style="width:100%;margin-bottom: 20px">
            <HeaderTemplate>
                <h2>Role Assigned</h2>
            </HeaderTemplate>
            <ChildContent>
                <RadzenChart>
                    <RadzenPieSeries TItem="DTORoleAssignments" Data="@DashboardValues.colRoleAssignments" CategoryProperty="name" ValueProperty="roleAssignments" />
                </RadzenChart>
            </ChildContent>
        </RadzenPanel>
    </div>
</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    DTODashboard DashboardValues = new DTODashboard();
    private System.Security.Claims.ClaimsPrincipal CurrentUser;
    private string strDefaultConnection = "";

    protected override async Task OnInitializedAsync()
    {
        // Get database conection string
        strDefaultConnection = _configuration["ConnectionStrings:DefaultConnection"];

        // Get the current user
        CurrentUser = (await authenticationStateTask).User;

        _DashboardController = (DashboardController)ScopedServices.GetService(typeof(DashboardController));
        DashboardValues = _DashboardController.DashboardValues(CurrentUser.Identity.Name);
    }
}
