@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

@if (Convert.ToString(ViewData["AssociateExistingAccount"]) == "false")
{
    <p id="external-login-description" class="text-info">
        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
        Click the Register button to finish logging in.
    </p>

    <div class="row">
        <div class="col-md-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl"
              method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" readonly="true"
                       autocomplete="email" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
}

@if (Convert.ToString(ViewData["AssociateExistingAccount"]) == "blocked")
{
    <div class="row">
        <div class="col-md-4">
            <form asp-page-handler="#" asp-route-returnUrl="@Model.ReturnUrl"
              method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
    </div>
}

@if (Convert.ToString(ViewData["AssociateExistingAccount"]) == "true")
{
    <div class="row">
        <div class="col-md-4">
            <form asp-page-handler="AssociateLogin" asp-route-returnUrl="@Model.ReturnUrl"
              method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>
                    To associate this external login with the existing account,
                    please enter the password for that account.
                </p>
                <div class="form-floating mb-4">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" readonly="true" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Associate Account</button>
            </form>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}