@inherits OwningComponentBase
@using Radzen
@using Radzen.Blazor
@using ADefHelpDeskApp.Models
@using ADefHelpDeskApp.Classes
@using AdefHelpDeskBase.Models
@using AdefHelpDeskBase.Models.DataContext
@using ADefHelpDeskApp.Controllers
@using ADefHelpDeskApp.Controllers.InternalApi
@using System
@using System.Collections.Generic
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using System.Linq.Dynamic.Core
@inject NavigationManager NavigationManager
@inject DialogService dialogService
@inject IConfiguration _configuration
@inject ADefHelpDeskContext context
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationSettingsController _ApplicationSettingsController
@inject ApiSecurityController _ApiSecurityController

@if (@strError != "")
{
	<h4 style="color:red">@strError</h4>
}
<div class="row">
	<div class="col-md-12">
		<RadzenTabs RenderMode="TabRenderMode.Server">
			<Tabs>
				<RadzenTabsItem Text="Details">
					<table class="form-group" cellpadding="4" cellspacing="4">
						<tbody>
							<tr>
								<td>
									<label for="User Name" class="control-label" style="font-weight: bold">User Name: </label>
								</td>
								<td>
									@if (@SelectedApiSecurity.id == -1)
									{
										<RadzenTextBox @bind-Value="SelectedApiSecurity.username" style="width: 100%;" />
									}
									else
									{
										<b>@SelectedApiSecurity.username</b>
									}
								</td>
							</tr>
							<tr>
								<td>
									<label for="Password" class="control-label" style="font-weight: bold">Password: </label>
								</td>
								<td>
									<RadzenTextBox @bind-Value="SelectedApiSecurity.password" style="width: 100%;" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="Name" class="control-label" style="font-weight: bold">Name: </label>
								</td>
								<td>
									<RadzenTextBox @bind-Value="SelectedApiSecurity.contactName" style="width: 100%;" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="Company" class="control-label" style="font-weight: bold">Company: </label>
								</td>
								<td>
									<RadzenTextBox @bind-Value="SelectedApiSecurity.contactCompany" style="width: 100%;" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="Website" class="control-label" style="font-weight: bold">Website: </label>
								</td>
								<td>
									<RadzenTextBox @bind-Value="SelectedApiSecurity.contactWebsite" style="width: 100%;" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="Email" class="control-label" style="font-weight: bold">Email: </label>
								</td>
								<td>
									<RadzenTextBox @bind-Value="SelectedApiSecurity.contactEmail" style="width: 100%;" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="Phone" class="control-label" style="font-weight: bold">Phone: </label>
								</td>
								<td>
									<RadzenTextBox @bind-Value="SelectedApiSecurity.contactPhone" style="width: 100%;" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="ApiPermissions" class="control-label" style="font-weight: bold">API Permissions: </label>
								</td>
								<td>
								 <RadzenButton Click="OpenPopup"
                                  Text="Open"
                                  Size="Radzen.ButtonSize.Small"
                                  ButtonStyle="ButtonStyle.Primary" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="Active" class="control-label" style="font-weight: bold">Active: </label>
								</td>
								<td>
									<RadzenCheckBox TValue="bool" @bind-Value=@SelectedApiSecurity.isActive />
								</td>
							</tr>
						</tbody>
					</table>
				</RadzenTabsItem>
				<RadzenTabsItem Text="Connection Information">
					@if (SelectedApiSecurity.id > -1)
					{
						<table class="form-group" cellpadding="4" cellspacing="4">
							<tbody>
								<tr>
									<td>
										<label for="API Web Address" class="control-label">API Web Address:</label>
									</td>
									<td>
										<b>@AppicationURL</b>
									</td>
								</tr>
								<tr>
									<td>
										<label for="Application GUID" class="control-label">Application GUID:</label>
									</td>
									<td>
										<b>@AppicationGUID</b>
									</td>
								</tr>
								<tr>
									<td>
										<label for="User Name" class="control-label">User Name:</label>
									</td>
									<td>
										<b>@SelectedApiSecurity.username</b>
									</td>
								</tr>
								<tr>
									<td>
										<label for="Password" class="control-label">Password: </label>
									</td>
									<td>
										<b>@SelectedApiSecurity.password</b>
									</td>
								</tr>
							</tbody>
						</table>
					}
					else
					{
						<p>Must save record first</p>
					}
				</RadzenTabsItem>
			</Tabs>
		</RadzenTabs>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<RadzenButton Click="UpdateApiSecurity"
					  Text="Save" ButtonStyle="ButtonStyle.Success"
					  Style="margin-bottom: 10px; width: 150px" />
		&nbsp;
		@if (SelectedApiSecurity.id > 0)
		{
			<RadzenButton Click="DeleteApiSecurityDialog"
					  ButtonStyle="ButtonStyle.Danger"
					  Text="Delete"
					  Style="margin-bottom: 10px; width: 150px" />
		}
	</div>
</div>
@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block;background-color:gainsboro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Permissions</h3>
                </div>
                <div class="modal-body">
					<div class="overflow-auto">
					<RadzenCheckBoxList TValue="string"
									@bind-Value="values"
									Orientation="Orientation.Vertical"
									Data="SelectedApiSecurity.permissions" 
									TextProperty="permissionLabel" 
									ValueProperty="permissionLabel" 
									Style="width: 100%;height: 400px" />									
					</div>
                    <br /><br />
                    <RadzenButton Click="ClosePopup"
                                  Text="Close"
                                  Size="Radzen.ButtonSize.Small"
                                  ButtonStyle="ButtonStyle.Secondary" />
                </div>
            </div>
        </div>
    </div>
}
@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	[Parameter] public ApiSecurityDTO SelectedApiSecurity { get; set; }

	System.Security.Claims.ClaimsPrincipal CurrentUser;
	string strError = "";
	string AppicationGUID = "";
	string AppicationURL = "";
    bool ShowPopup = false;
	IEnumerable<string> values = new List<string>();
    
	protected override async Task OnInitializedAsync()
	{
		// Get the current user
		CurrentUser = (await authenticationStateTask).User;

		_ApplicationSettingsController = (ApplicationSettingsController)ScopedServices.GetService(typeof(ApplicationSettingsController));
		var DTOSettings = _ApplicationSettingsController.GetSettings(CurrentUser.Identity.Name, NavigationManager.BaseUri);
		AppicationGUID = DTOSettings.applicationGUID;
		AppicationURL = $"{NavigationManager.BaseUri}swagger";

		_ApiSecurityController = (ApiSecurityController)ScopedServices.GetService(typeof(ApiSecurityController));
	}

	private void UpdateApiSecurity()
	{
		try
		{
			strError = "";
			DTOStatus Result;

			if (SelectedApiSecurity.id == -1)
			{
				Result = _ApiSecurityController.Post(SelectedApiSecurity, CurrentUser.Identity.Name);
			}
			else
			{
				Result = _ApiSecurityController.Put(SelectedApiSecurity.id, SelectedApiSecurity, CurrentUser.Identity.Name);
			}

			if (Result.Success)
			{
				dialogService.Close(SelectedApiSecurity);
			}
			else
			{
				strError = Result.StatusMessage;
			}
		}
		catch (Exception ex)
		{
			strError = ex.GetBaseException().Message;
		}
	}

	async Task DeleteApiSecurityDialog() => await dialogService
		.OpenAsync("Delete ApiSecurity", ds =>
	@<RadzenCard Style="padding: 20px;">
		<p Style="margin-bottom: 10px;">Confirm?</p>
		<div class="row">
			<div class="col-md-12">
				<RadzenButton Text="Yes" Click="DeleteApiSecurity"
						  Style="margin-bottom: 10px; width: 150px" />
				<RadzenButton Text="No" Click="()=> ds.Close(false)"
						  ButtonStyle="ButtonStyle.Secondary"
						  Style="margin-bottom: 10px; width: 150px" />
			</div>
		</div>
	</RadzenCard>
	);

	private void DeleteApiSecurity()
	{
		try
		{
			strError = "";
			DTOStatus Result;

			Result = _ApiSecurityController.Delete(SelectedApiSecurity.id, CurrentUser.Identity.Name);

			if (Result.Success)
			{
				SelectedApiSecurity.id = -1;
				dialogService.Close(false);
				dialogService.Close(SelectedApiSecurity);
			}
			else
			{
				strError = Result.StatusMessage;
			}
		}
		catch (Exception ex)
		{
			strError = ex.GetBaseException().Message;
		}
	}

	void OpenPopup()
	{
		// Open Popup
		ShowPopup = true;
	}

	void ClosePopup()
	{
		// Close Popup
		ShowPopup = false;
	}
}